@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/main.woff');
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

body, div {
   font: 13px 'Open Sans', verdana;
}

a {
   color: red;
   text-decoration: none;
}

#wrapper {
   display: table;
   width: 100%;
   height: 100%;
}

.split {
   display: table;
   width: 100%;

   div {
      display: table-cell;
      width: auto;
      text-align: left;
      vertical-align: top;
   }

   div:nth-child(2) {
      text-align: right;
   }
}