#innerbody {
   display: table-row;

   // CHROME SCROLLBAR
   ::-webkit-scrollbar { width: 10px; }
   ::-webkit-scrollbar-track { background: rgba(128, 128, 128, 0.295); }
   ::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.459); }

   // FIREFOX SCROLLBAR
   scrollbar-color: rgba(255, 255, 255, 0.315) #00000038;
   scrollbar-width: thin;

   .inner {
      padding: 10px;
      height: 100%;
      overflow: auto;
   }
}