#innerbody {
   display: table-row;
   background: yellow;

   .inner {
      padding: 10px;
   }
}

input {
   padding: 6px 8px;
   outline: none;
}

#product {
  margin: 15px;
  float: left;
  width: 300px;
  height: 150px;
}