#innerbody {
   display: table-row;
   background: yellow;

   .inner {
      padding: 10px;
   }
}

.field, .button {
   background: white;
   padding: 5px 7px;
   outline: none;
<<<<<<< HEAD
}

#product {
  margin: 15px;
  float: left;
  width: 300px;
  height: 150px;
=======
   width: 100%;
   border: 1px solid gray;
   margin-bottom: 4px;
   font: 13px 'Open Sans', verdana;
}

.button {
   margin-bottom: 0px;
   cursor: pointer;
   text-transform: uppercase;
>>>>>>> baab93307517e6dbcd62434ed9d291ba56592857
}