#menu {
    display: table-row;
    height: 1px;
    background: red;

    li {
        display: inline-block;
        padding: 10px;
        color: white;
        cursor: pointer;
        transition-property: background-color, color;
        transition: 0.2s, 0.2s;
    }

    li:hover {
        background: blue;
    }
}