#shop {
   color: white;
   
   .product {
      display: flex;
      background: rgba(0, 0, 0, 0.185);
      border: 1px solid rgb(44, 44, 44);
      margin-bottom: 4px;
      padding: 1px;

      > div:nth-child(1) {
         flex: 1;
         margin-right: 2px;

         #header {
            background: rgba(94, 125, 192, 0.507);
            margin-bottom: 1px;

            #price, #name {
               padding: 5px 7px 6px 7px;
               display: inline-block;
            }

            #price {
               background: rgba(179, 85, 216, 0.205);
               border-right: 1px solid rgb(44, 44, 44);
               min-width: 70px;
               text-align: center;
            }
         }

         #description {
            background: rgba(255, 255, 255, 0.130);
            padding: 5px;
            padding-left: 7px;
            padding-bottom: 6px;
         }
      }

      > div:nth-child(2) {
         width: 63px;

         #add, #remove {
            background: rgba(94, 207, 94, 0.342);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            cursor: pointer;
            transition: 0.2s;
         }

         #remove {
            background: rgba(226, 84, 84, 0.418);
         }
      }
   }

   .product:last-child {
      margin-bottom: 0px
   }
}